.row-fluid
  .span12
    .hero-unit
      %h1 Welcome to the online Issue Tracker!
      %p Forget about tedious calls. Send us your issues in one minute!
      = button_to "Send an Issue", new_ticket_path, :class => "btn btn-primary btn-large"

.row-fliud
  .span4
    %h2 Faster
    %p You can send your issues in one minute. Don't wait at the phone!
  .span4
    %h2 Better
    %p
      As you write the information, there is no chance to misunderstand you.
      Also you will get our replies on you email.
  .span4
    %h2 Interactive
    %p
      You will be informed with each update of your issues. You can see the status and the complete history
      of your issue in our system.